<div class="create-exercise">
  <h2>Create Exercise</h2>

  <form (submit)="createExercise()">
    <div class="form-group">
      <label for="exerciseName">Exercise Name:</label>
      <input type="text" id="exerciseName" name="exerciseName" [(ngModel)]="exercise.exercise_Name" required>
    </div>
    <div class="form-group">
      <label for="categoryId">Category:</label>
      <select id="categoryId" name="categoryId" [(ngModel)]="exercise.category_Id" required>
        <option *ngFor="let category of categories" [value]="category.category_Id">{{ category.category_Name }}</option>
      </select>
    </div>

    <button type="submit">Create</button>
  </form>
</div>
